
#wise-widget-wrapper {
	display: none;
	width: 300px;
	height: 300px;
	position: relative
}
#wise-widget-theme {
	position: relative;
	width: 300px;
	height: 50px;
	overflow: visible;
}
#wise-widget-theme img {
	height: 30px;
	width: auto;
	margin: 21px 0 0 10px;
}
#wise-wdiget-ad {
	max-width: 300px;
	width: 300px;
	height: 250px;
	position: relative;
	top: 0;
	margin: 0;
	overflow: hidden;
}
#wise-widget-wrapper #wise-wdiget-ad > div {
	height: 250px;
	width: 300px;
	border: 2px solid #000;
	border-radius: 5px;
	overflow: hidden;
}
#wise-widget-wrapper.light #wise-wdiget-ad > div {
		border-color: #e1e1e1;
}
.wise-admin-logo-bar:after {
	content: "";
  	display: table;
  	clear: both;
}
.wise-admin-logo-bar img.logo {
	max-width: 300px;
	height: auto;
	float: left;
	margin: 20px 50px 20px 20px;
}

.wisewidget-admin-title {
	font-size: 2em;
	font-weight: bold;
	display: inline-block ;
	margin: 80px 0 0 ;
}
.wise-admn-tagline {
	
}
.wise-admin-content {
	float: left;
	width: 40%;
	margin: 3%;
	background: #fafafa;
	border-radius: 10px;
	padding: 12px;
}

@media (max-width: 768px) {
	.wise-admin-content {
		float: none;
		width: 80%;
		margin: 3%;
		background: #fafafa;
		border-radius: 10px;
		padding: 20px;
	}
}